/* Globals */



section {
  width: 100%;
  padding: 0;
  display: table;
  margin: 0;
  max-width: none;
  height: 100vh;
}

h1 {
	
	font-family: 'Ostrich Sans';
	src: url('/fonts/ostrich-sans-black.eot');
	src: url(/fonts/ostrich-sans-black.woff) format('woff'), url('/fonts/ostrich-sans-black.ttf') format('truetype'), url('/fonts/ostrich-sans-black.svg') format('svg');
	font-weight: 900;
	font-style: normal;
    font-size: 42pt;
}

h2 {
    font-family: 'Ostrich Sans';
	font-weight: 900;
	font-style: normal;
}

h4 {
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    color: #012340;
}

h4.oblique {
    font-style: oblique;
}

p {
    font-weight: 400;
    font-family: 'Open Sans', sans-serif !important;
    color: #012340;
}

/* Animation */

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(/img/Preloader_7.gif) center no-repeat #fff;
}

#load-msg {
    color: #40a8cc;
    position: fixed;
    text-align: center;
    top: 55%;
	width: 100%;
	height: 100%;
	z-index: 9999;
}

.hideme
{
    opacity:0;
    margin-top: 20%;
}

.showme {
    opacity: 1;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-style: oblique;
    font-weight: 100;
}


/* Navbar area */

.navbar {
    margin-left: -2.5%;
    height: 80px;
    background-color: #f2f2f2;
    box-shadow: 3px 0 7.8px 0.2px rgba(0, 0, 0, 0.8);
    border-radius: 0px;
}

@media only screen and (min-width: 500px) {
    .navbar-brand {
        position: relative;
        left: -5px;
        width: 220px;
        height: 120px;
        margin-top: -20px;
        background-color: #f2f2f2;
        box-shadow: 1px 0 7.8px 0.2px rgba(0, 0, 0, 0.8);
    }
    
    #logo {
        height: 80px;
        width: 220px;
        padding-right: 24px;
        margin-left: -16px;
        margin-top: 15px;
    }

}

.text-1 {
    font-size: 36pt;
    font-weight: 900;
    fill: #012340;
    stroke-miterlimit: 10;
    stroke-width: 0px;
    font-family: OstrichSans-Black, Ostrich Sans;
    animation: appear 2s forwards;
    animation-delay: 1s;
    opacity: 0;
}

.cls-1 {
  stroke: #012340;
  stroke-miterlimit: 10;
  stroke-width: 4px;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 10s linear forwards;
}

.cls-2 {
  stroke: #012340;
  stroke-miterlimit: 10;
  stroke-width: 4px;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 15s linear forwards;
  animation-delay: .7s;
}

.cls-3 {
  stroke: #012340;
  stroke-miterlimit: 10;
  stroke-width: 4px;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 20s linear forwards;
  animation-delay: .4s;
}

@keyframes appear {
  from{
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

#navbar2 ul{
    margin-top: 1.5%;
}

#navbar2 ul li a {
    font-family: 'Open Sans', sans-serif;
    text-decoration-color: #012340;
    color: #012340;
}

#soc-header {
    margin-top: 7.5%;
}

#soc-header a {
    padding: 0 10px 0 10px;
    text-align: center;
}

#soc-header a img {
    max-height: 20px;
    max-width: 20px;
}

#soc-header2 {
    margin: 7.5% 15px 0 0;
    padding-left: 0px;
    padding-right: 15px;
    text-align: center;
}

#soc-header2 a {
    padding: 0 10px 0 10px;
    text-align: center;
}

#soc-header2 a img {
    max-height: 20px;
    max-width: 20px;
    width: auto !important;
}

/* Header */

.intro {
    height: 100vh;
    background-image: url(/img/DSC00498-v2.jpg);
    background-size: cover;
    margin: 0 0 -20% 0;
}

#header {
    margin-top: 15%;
    margin-bottom: 45%;
}

.center {
    width: 50%;
    margin: 0 auto;
}

.featured {
    height: 150vh;
    margin-top: -10%;
    
}

.bottom-center {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

/* Item 1 */

#item1 {
    background-color: #f2f2f2;
    box-shadow: 1px 0 7.8px 0.2px rgba(0, 0, 0, 0.8);
    position: relative;
    top: 200px;
    padding: 20px 20px 40px 20px;
}

#video1 {
    position: relative;
    top: -140px;
    min-height: 360px;
    margin-bottom: -120px;
}

#item2 {
    margin-top: 5%;
}

#video2 {
    position: relative;
    min-height: 360px;
}

#bg-2 {
    height: 80vh;
    background-image: url(/img/bg-2-2jpg.jpg);
    background-size: cover;
    background-position: center;
    margin: -20% 0 0 0;
    display: table;
}

.vertical-center {
    display: table-cell;
    vertical-align: middle;
}

#gallery {
    margin-top: -10%;
}

#gallery-body {
    background-color: #f2f2f2;
    box-shadow: 1px 0 7.8px 0.2px rgba(0, 0, 0, 0.8);
    position: relative;
}

.gallery-row {
    margin-top: 15px;
    margin-bottom: 15px;
}

.gallery-row div a img {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.gallery-row div {
    padding-left: 15px;
    padding-right: 0px;
}

.gallery-row div div {
    overflow: hidden;
}

.typography {
    margin-top: 5%;
}

.typography h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-kerning: auto;
    text-align: center;
    color: #012340;
    margin: 0 -10px 0 -25px;
}


@media only screen and (max-width: 499px) {
    
    .navbar {
        height: auto;
    }
    
    .navbar-brand {
        opacity: hidden;
    }
    
    #logo {
        height: 50px;
        width: 120px;
        padding: 0px;
        margin: -12.5px 0 0 -25px;
    }
    
    .icon-bar {
        background-color: #012340;
    }
    
    .featured {
        margin-top: -47.5%;
    }
}
