/* Globals */

body {
    font-size: 12pt;
}

.preload {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
    display: none;
}

section {
  width: 100%;
  padding: 0;
  display: table;
  margin: 0;
  max-width: none;
    height: inherit;
}

h1 {
	
	font-family: 'Ostrich Sans';
	src: url('/fonts/ostrich-sans-black.eot');
	src: url(/fonts/ostrich-sans-black.woff) format('woff'), url('/fonts/ostrich-sans-black.ttf') format('truetype'), url('/fonts/ostrich-sans-black.svg') format('svg');
	font-weight: 900;
	font-style: normal;
    font-size: 42pt;
    color: #012340;
}

h2 {
    font-family: 'Ostrich Sans';
	font-weight: 900;
	font-style: normal;
    color: #012340;
}

h3 {
    font-family: 'Ostrich Sans';
	font-weight: 900;
	font-style: normal;
    color: #012340;
}

h4 {
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    color: #012340;
}

h4.oblique {
    font-style: oblique;
}

p {
    font-weight: 400;
    font-family: 'Open Sans', sans-serif !important;
    color: #012340;
}

ul {
    text-decoration: none;
    list-style-type: none;
    -webkit-padding-start: 0px !important;
}

/* Animation */

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(/test/img/Preloader_7.gif) center no-repeat #fff;
}

#load-msg {
    color: #40a8cc;
    position: fixed;
    text-align: center;
    top: 55%;
	width: 100%;
	height: 100%;
	z-index: 9999;
}

.hideme
{
    opacity:0;
    margin-top: 20%;
}

.showme {
    opacity: 1;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-style: oblique;
    font-weight: 100;
}


/* Navbar area */

.navbar {
    margin-left: -2.5%;
    height: 80px;
    background-color: #f2f2f2;
    box-shadow: 3px 0 7.8px 0.2px rgba(0, 0, 0, 0.8);
    border-radius: 0px;
}

@media only screen and (min-width: 600px) {

    .navbar-brand {
        position: relative;
        left: -5px;
        width: 220px;
        height: 120px;
        margin-top: -20px;
        background-color: #f2f2f2;
        box-shadow: 1px 0 7.8px 0.2px rgba(0, 0, 0, 0.8);
    }
    
    #logo {
        height: 80px;
        width: 220px;
        padding-right: 24px;
        margin-left: -4px;
        margin-top: 15px;
    }

}


#navbar2 ul{
    margin-top: 1.5%;
}

#navbar2 ul li a {
    font-family: 'Open Sans', sans-serif;
    text-decoration-color: #012340;
    color: #012340;
}

#soc-header {
    margin-top: 7.5%;
}

#soc-header a {
    padding: 0 10px 0 10px;
    text-align: center;
}

#soc-header a img {
    max-height: 20px;
    max-width: 20px;
}

#soc-header2 {
    margin: 7.5% 0 0 -10px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
}

#soc-header2 a {
    padding: 0 10px 0 10px;
    text-align: center;
}

#soc-header2 a img {
    max-height: 20px;
    max-width: 20px;
    width: auto !important;
}

/* Header */

.intro {
    height: 100vh;
    background-image: url(/test/img/DSC00498-v2.jpg);
    background-size: cover;
    margin: 0;
}

#header {
    margin-top: 15%;
    margin-bottom: 45%;
}

.center {
    width: 50%;
    margin: 0 auto;
}

.featured {
    margin-top: -20vh;
}

.bottom-center {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

/* Item 1 */

#featured {
    background-color: #f2f2f2;
    box-shadow: 1px 0 7.8px 0.2px rgba(0, 0, 0, 0.8);
    position: relative;
    padding: 20px 20px 40px 20px;
}

#video1 {
    position: relative;
    top: -120px;
    min-height: 360px;
    margin-bottom: -120px;
}

#item2 {
    margin-top: 15px;
}

#video2 {
    position: relative;
    min-height: 360px;
}

#item3 {
    margin-top: 15px;
}

#video3 {
    position: relative;
    min-height: 360px;
}

#bg-2 {
    height: 100vh;
    background-image: url(/test/img/proj/large.jpg);
    background-size: cover;
    background-position: center;
    margin: 0;
    display: table;
    margin-top: -5vh;
}

.vertical-center {
    display: table-cell;
    vertical-align: middle;
}

#gallery .container {
    background-color: #f2f2f2;
    box-shadow: 1px 0 7.8px 0.2px rgba(0, 0, 0, 0.8);
    position: relative;
    padding: 20px 20px 40px 20px;
    top: -5vh;
}

.ratio{
    position:relative;
    width: 100%;
    height: 0;
    padding-bottom: 50% ; /* % of width, defines aspect ratio*/
    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;  
}

/* Gallery style */

div figcaption {
    padding: 5px;
	color: #f2f2f2;
    text-shadow: 2px 2px 5px #333;
	text-transform: uppercase;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

div figcaption,
div figcaption > a {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

figcaption > a {
	z-index: 1000;
	text-indent: 100%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

figcaption h2,
figcaption p {
	margin: 0;
}

figcaption p {
	letter-spacing: 1px;
    font-weight: 400;
    color: #f2f2f2;
}


#myContent {
	-moz-column-count: 3;
	-moz-column-gap: 10px;
	-webkit-column-count: 3;
	-webkit-column-gap: 10px;
	column-count: 3;
    column-gap: 10px;
}

div.effect-moses {
    position: relative;
    overflow: hidden;
    margin-top: 0;
}

#myContent li {
    height: 100%;
    box-shadow: 1px 5px 7.8px 0.2px rgba(0, 0, 0, 0.6);
    margin-bottom: 10px;
    break-inside: avoid-column;
    -webkit-column-break-inside: avoid;
    display: inline-block;
}

#myContent li .gallery-subcaption {
    background: #fff !important;
    padding: 5px 10px 50px 15px;
}

.gallery-subcaption h2 {
    margin-top: 7.5px;
}

.gallery-subcaption p {
    display: block;
    font-size: 80%;;
}

.gallery-subcaption .icon {
    float: left;
    background: none;
    color: #012340;
}

.gallery-subcaption a{
    border-radius: 3px;
    padding: 5px 10px;
    float: right;
    margin-top: 7.5px;
    display: block;
    position: inherit;
    background-color: #012340;
    color: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

#myContent li:nth-of-type(1) {
    background: -webkit-linear-gradient(105deg, #bf3894 0%, #224f90 50%,#012340 100%);
	background: linear-gradient(165deg, #bf3894 0%, #224f90 50%,#012340 100%);
}

#myContent li:nth-of-type(2) {
    background: -webkit-linear-gradient(-70deg, #A6671B 15%, #024c8b 50%,#012340 100%);
	background: linear-gradient(-25deg, #A6671B 15%, #024c8b 50%,#012340 100%);
}

#myContent li:nth-of-type(3) {
    background: -webkit-linear-gradient(-45deg, #a32a19 15%, #c2d18e 66%,#499384 100%);
	background: linear-gradient(-45deg, #a32a19 15%, #c2d18e 66%,#499384 100%);
}

#myContent li:nth-of-type(4) {
	background: -webkit-linear-gradient(115deg, #A6671B 0%,#faf3e5 100%);
	background: linear-gradient(-25deg, #A6671B 0%,#faf3e5 100%);
}

#myContent li:nth-of-type(5) {
	background: -webkit-linear-gradient(115deg, #CFF09E 0%,#A8DBA8 20%,#79BD9A 40%,#3B8686 60%,#0B486B 100%);
	background: linear-gradient(115deg, #CFF09E 0%,#A8DBA8 20%,#79BD9A 40%,#3B8686 60%,#0B486B 100%);
}

#myContent li:nth-of-type(6) {
	background: -webkit-linear-gradient(115deg, #E1D1B7 0%,#F6E8CB 20%,#B5E1C8 40%,#85B9A3 60%,#322A1D 100%);
	background: linear-gradient(115deg, #E1D1B7 0%,#F6E8CB 20%,#B5E1C8 40%,#85B9A3 60%,#322A1D 100%);
}

@media only screen and (min-width: 999px){

    div.effect-moses p {
        display: inline-block;
        font-size: 65%;
        border: 1px #fff solid;
        padding: 5px;
        text-align: left;
        opacity: 1;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
    }

    div.effect-moses:hover p {
        opacity: .65;
    }

    #myContent img{
        display: block;
        width: 100%;
        opacity: 0.35;
        -webkit-transition: opacity 0.35s;
        transition: opacity 0.35s;
    }
    
    #myContent div.effect-moses:hover img {
        opacity: 0.9;
    }
}

@media only screen and (max-width: 998px){
   
    div.effect-moses p {
         display: inline-block;
        font-size: 6pt;
        border: 1px #fff solid;
        padding: 5px;
        text-align: left;
        opacity: 1;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
    }


    div.effect-moses:hover p {
        opacity: .65;
    }

    #myContent img{
        display: block;
        width: 100%;
        opacity: 0.85;
        -webkit-transition: opacity 0.35s;
        transition: opacity 0.35s;
    }
    
    #myContent li {
        min-height: 200px;
    }

    #myContent div.effect-moses:hover img {
        opacity: 0.95;
    }
}

@media only screen and (max-width : 1199px),
only screen and (max-device-width : 1199px){
	#myContent {
		-moz-column-count: 2;
		-moz-column-gap: 10px;
		-webkit-column-count: 2;
		-webkit-column-gap: 10px;
		column-count: 2;
		column-gap: 10px;
		width: 100%;
	}
}


@media only screen and (max-width : 999px),
only screen and (max-device-width : 999px){
	#myContent {
		-moz-column-count: 1;
		-moz-column-gap: 10px;
		-webkit-column-count: 1;
		-webkit-column-gap: 10px;
		column-count: 1;
		column-gap: 10px;
		width: 100%;
	}

}

@media only screen and (max-width : 799px),
only screen and (max-device-width : 799px){
	#myContent {
		-moz-column-count: 1;
		-moz-column-gap: 0px;
		-webkit-column-count: 1;
		-webkit-column-gap: 0px;
		column-count: 1;
		column-gap: 0px;
		width: 100%;
	}
}

@media only screen and (max-width : 599px),
only screen and (max-device-width : 599px){
	#myContent {
		-moz-column-count: 1;
		-moz-column-gap: 0px;
		-webkit-column-count: 1;
		-webkit-column-gap: 0px;
		column-count: 1;
		column-gap: 0px;
        width: 100%;
	}
	
}

/* Contact Section */

#bg-3 {
    height: 100vh;
    padding-bottom: 10vh;
    background-image: url(/test/img/bg-3-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 75%;
    margin-top: -10vh;
    display: table;
    padding-bottom: 30vh;
}

#bg-3 .container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4CAF50;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

.result {
    background-color: #f2f2f2;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
    padding: 20px;
    font-family: 'Open sans', sans-serif;
    text-align: center;
    font-weight: 400;
}

.hidden {
    display: none;
}

/* Footer */

.footer-distributed{
	background-color: #f2f2f2;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 50px;
	margin-top: -36vh;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #333;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #333;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #f2f2f2;
	color: #333;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #333;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 11px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #333;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #f2f2f2;
	border-radius: 2px;

	font-size: 20px;
	color: #333;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* Project pages */

#project .row {
    margin: 20px 20px;
}

#project .container {
    background-color: #f2f2f2;
    box-shadow: 1px 0 7.8px 0.2px rgba(0, 0, 0, 0.8);
    position: relative;
    padding: 20px -20px 40px -20px;
    margin: 80vh auto 0 auto;
}

#project footer {
    margin-top: 100px;
}

video#bgvid { 
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover; 
}

video#bgvid {
    transition: 1s opacity;
}
.stopfade { opacity: .5; }

#vidbutton {
    background: rgba(127,127,127,0.6);
    color: #f2f2f2;
    border: none;
    font-family: 'Oswald', sans-serif;
    font-size: 20pt;
    font-weight: 400;
    position: absolute;
    padding: 10px;
    left: 44%;
    bottom: 50%;
}

.fullscreen {
    z-index: 9998 !important;
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover; 
}

video { display: block; }

@media screen and (max-device-width: 800px) {
    html {
         
    }
    #bgvid {
        display: none;
    }
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}



@media only screen and (max-width: 599px) {
    
    .navbar {
        height: auto;
        width: 90%;
        position: fixed;
        z-index: 9999;
    }
    
    .navbar-brand {
    }
    
    #logo {
        margin-top: -10px;
        height: 40px;
        width: auto;
    }
    
    .icon-bar {
        background-color: #012340;
    }
    
    .featured {
        margin-top: -5vh;
    }
    
}

